/* styles.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
}

.title {
  padding: 10px;
  margin: 14px;
  font-size: 22px;
}

.dropArea {
  font-size: 20px;
  border: 2px dashed gray;
  border-radius: md;
  padding: 50px;
  margin: 14px;
  cursor: pointer;
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
}

.fileInput {
  display: none;
}

.button {
  padding: 10px;
  margin: 14px;
}

.fileUploadedMessage {
  font-size: 20px;
  color: rgb(244, 252, 244);
  margin: 10px;
}
.successMessage {
  font-size: 20px;
  color: green;
  margin: 10px;
}
.errorMessage {
  font-size: 20px;
  color: rgb(223, 9, 9);
  margin: 10px;
}



/* los siguientes no se estan usando por el momento: */.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .alert.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .alert.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  
  .alert button {
    float: right;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: bold;
    color: inherit;
  }
  